<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
  <% include partials/nav %>
  <div id="app">
    <div class="center">
      <div class="message">
        <img src="<%= msg.author_icon %>?size=32">
        <a  href="<%= `/${msg.server_id}` %>" class="link">Server</a>
        <h1><%= msg.author_tag %></h1><span><%= ` (${msg.author_id}) in #${msg.channel_name}` %></span>
        <h2><%- msg.message_content %></h2>
        <% if (msg.message_file) { -%>
        <a href="<%= msg.message_file %>" target="_blank">
          <img src="<%= msg.message_file %>">
        </a>
        <% } -%>
        <span><%= msg.star %><%= msg.message_stars %> star<%= msg.message_stars === 1 ? '' : 's' %> | <%= msg.message_created %></span>
      </div>
    </div>
  </div>
</body>
</html>